#!KAMAILIO

debug=3
log_stderror=yes
log_facility=LOG_LOCAL0

listen=udp:0.0.0.0:5060
listen=tcp:0.0.0.0:5062

tcp_connection_lifetime=3600
enable_tls=yes

loadmodule "corex.so"
loadmodule "tm.so"
loadmodule "sl.so"
loadmodule "rr.so"
loadmodule "pv.so"
loadmodule "xlog.so"
loadmodule "textops.so"
loadmodule "usrloc.so"
loadmodule "registrar.so"
loadmodule "maxfwd.so"
loadmodule "siputils.so"
loadmodule "uri.so"
loadmodule "websocket.so"
loadmodule "tls.so"
loadmodule "outbound.so"
loadmodule "nathelper.so"
loadmodule "kex.so"

modparam("usrloc", "db_mode", 0)
modparam("registrar", "method_filtering", 1)
#modparam("tls", "config", "/etc/kamailio/tls.cfg")
modparam("websocket", "server_url", "wss://voip.freeserver.dev:443/ws")
modparam("websocket", "ping_interval", 20)

route {
    if (!mf_process_maxfwd_header("10")) {
        sl_send_reply("483", "Too Many Hops");
        exit;
    }

    if (msg:len >= 2048) {
        sl_send_reply("513", "Message too big");
        exit;
    }

    if (!sanity_check("1511", "7")) {
        xlog("Malformed SIP message from $si\n");
        exit;
    }

    if (is_method("REGISTER")) {
        save("location");
        sl_send_reply("200", "OK");
        exit;
    }

    if (is_method("INVITE")) {
        xlog("INVITE received from $si\n");
        t_relay_to("udp:voip4.freephoneline.ca:5060");
        exit;
    }

    if (is_method("ACK|BYE|CANCEL|INFO|OPTIONS|SUBSCRIBE|NOTIFY")) {
        t_relay();
        exit;
    }

    sl_send_reply("501", "Not Implemented");
}
